@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.main-selection {
    @apply selection:text-rose-600 selection:bg-yellow-400 dark:selection:text-blue-800 dark:selection:bg-sky-400;
}

.signup-input {
    @apply input input-bordered flex items-center gap-2;
}

.signup-input-placeholder {
    @apply placeholder:text-lg placeholder:text-slate-500;
}